<form name="loginForm" ng-submit="login()">
	<div class="col-sm-12">
		<div class="col-sm-3">
			<p></p>
		</div>
		<div class="col-sm-6">
			<h2>Login</h2>
			<div class="form-group">
				<label for="email">Email:</label>
				<input type="text" class="form-control" id="email" ng-model="token.email" required focus>
			</div>
			<div class="form-group">
				<label for="password">Password:</label>
				<input type="password" class="form-control" id="password" ng-model="token.password" required>
			</div>
			<button type="submit" class="btn btn-primary">Login</button>
			<button class="btn btn-default" ng-click="back()">Home</button>
			<p></p>
		</div>
		<div class="col-sm-3">
			<p></p>
		</div>
	</div>
</form>